.footer {
  text-align: center;
  padding: .5rem 0;
  font-size: 1.4rem;
  color: #cccccc;
}

.footer a {
  margin-left: .5rem;
}

.footer span {
  display: inline-block;
  margin: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.footer-link i {
  color: #ffffff;
  font-size: 1.8rem;
  margin-right: 4px;
}

.footer-link:hover, .footer-link i:hover{
  color:  #f1c40f;
}
