.footer {
  text-align: center;
  padding: 2.0rem 0;
  font-size: 1.4rem;
  color: #cccccc;
}

.footer span {
  display: inline-block;
  margin: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #f1c40f;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}

.footer-link i {
  color: #f1c40f;
  font-size: 1.8rem;
  margin-right: 4px;
}

.footer-link:hover {
  border-bottom: 1px solid #f1c40f;
}
